# scrollback size
set -g history-limit 10000
set -g allow-rename off

################################
# Keybinds
###############################

# Changing ctrl b to ctrl a as the command button
unbind C-b
set -g prefix C-a

# set first window to index 1 (not 0) to map more to the keyboard layout
set -g base-index 1
set -g pane-base-index 1

# pass through xterm keys
#set -g xterm-keys on

# Keep your finger on ctrl, or don't, same result
bind-key C-d detach-client
bind-key C-p paste-buffer

# reload tmux config with ctrl + a + r
 unbind r
 bind r \
     source-file ~/.tmux.conf \;\
         display '[+] tmux reloaded'

# Vertical splits with g or C-g
unbind g 
unbind C-g
bind-key v split-window -h
bind-key C-v split-window -h

# Horizontal splits with h or C-h
unbind h
unbind C-h
bind-key h split-window
bind-key C-h split-window

# Ctrl + a + o rename window
unbind o
unbind C-o
bind-key C-o rename-window

# Switching panes with alt
bind -n M-l select-pane -L
bind -n M-h select-pane -R
bind -n M-k select-pane -U
bind -n M-j select-pane -D

# Ctrl - t or t new window
unbind t
unbind C-t
bind-key t new-window
bind-key C-t new-window

# Using the mouse to switch panes
set -g mouse-utf8 off
set -g mouse off