vim
qbittorrent
fish
i3
i3status
i3lock
dmenu
mariadb
python-mongoengine
mysql-workbench
chromium
libinput
xorg-xinput
neofetch
jdk8-openjdk
jdk10-openjdk
java-openjfx
maim
feh
bpython
alsa-utils
vlc
libreoffice
flashplugin
rar
unrar
zip
unzip
tar
htop
intel-ucode
ufw
networkmanager
nm-connection-editor
openssh
ttf-liberation
noto-fonts
ttf-bitstream-vera
ttf-droidttf-inconsolata
ttf-indic-otf
htop
